<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
<title>HarBaught - WHO NEEDS A FOUL-MOUTHED COACH ANYWAYS?</title>
</head>

<body>
<div>
<h2>The Human</h2>
<ul>
<li>1st and 10 on Chi 15</li>
<li>Chooses to Run</li>
</ul>

<h2>The Harbaught (har-bot)</h2>
<img src="{{ static_url('images/harbot_guy.png')}}"></img>
<ul>
<li>You should Pass peasily Humanoid!</li>
<li>May the odds be ever in your favour! (70% success)</li>
</ul>

</div>

<div>
<input type="button">Action!</input>
</div>

<div>
<p>The Human's play lost 5 yards!</p>
</div>
</body>

</html>